<h1>My Lists <%= "(#{@lists.count})" %></h1>

<ul>
  <% @lists.each do |list|  %>
    <li>
      <%= link_to list.name, list_path(list) %>
      <%= "Created at: #{list.created_at}" %>
      <%= "Updated at: #{list.updated_at}" %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Add a new list', new_list_path %></p>
