<div class="container">
  <div class="form">
    <h1>Create a List</h1>

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <div style= "margin-top: 18px">
    <%= link_to "Back", lists_path(@lists), class: "btn btn-danger" %>
    </div>

  </div>
</div>
