  <div class="list-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>') ">
    <div class="container">
      <h1><%= @list.name %></h1>
      <p><%= "#{@list.movies.count} movies added" %></p>
    </div>
  </div>

<div class="container">

  <% @list.movies.each do |movie| %>
    <div class="card-bookmark">
      <% if @bookmark.poster.attached? %>
        <img class="card-bookmark img" alt="Card image cap" <%= cl_image_path @bookmark.poster.key, height: 300, crop: :fill %>>
      <% end %>
      <div class="card-bookmark-infos">
        <h2><%= movie.title %></h2>
        <div class="d-flex">
          <% movie.rating.round.times do %>
            <i class="far fa-star yellow"></i>
          <% end %>
        </div>
        <p> <%= "How to access comment from bookmark?"  %> </p>
        <p>
          <%= link_to "Delete", bookmark_path(movie.bookmarks.find_by(list: @list)), method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
      </div>
    </div>
  <% end %>


  <p><%= link_to 'Add a new Bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %></p>
  <p><%= link_to 'Back to Lists', lists_path , class: "btn btn-primary" %></p>
  <p><%= link_to "Delete All List", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>
</div>
